* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #bdbdbd;
  padding: 20px;
}

.azul { background: #3498db; color: #fff; }

.card {
  background: #ffffff;
  padding: 27px;
  margin-top: 10px;
  border-left: 5px solid #3498db;
}

.card p{
  opacity: 0.5;
  padding-top: 10px;
}

.tag {
  display: inline-block;
  background: #5dade2;
  color: #fff;
  padding: 3px 8px;
  font-size: 15px;
  margin-bottom: 5px;
}