body {
    font-family: Arial;
    margin: 0;
}

.encabezado {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.encabezado a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.seccion {
    padding: 20px;
}

.oscuro {
    background: #222;
    color: white;
}

.tarjeta {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.pie {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}